# Database
DATABASE_URL="data.db"

# Supabase Cloud Database
SUPABASE_URL="https://jiznwswtunmhewoerzrf.supabase.co"
SUPABASE_ANON_KEY=""

# JWT Secret
JWT_SECRET="dapathshala_secret_key_2026"

# Gemini API Key is already handled by the platform
